body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background: #000;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 70px; /* tamanho do logo */
}

header nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
}

.hero .btn {
    background: #141313;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
}

.hero .btn:hover {
    background: #000;
}

/* PRODUTOS */
.produtos {
    padding: 40px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    width: 250px;
    padding: 15px;
}

.card img {
    width: 100%;
}

.card button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.card button:hover {
    background: #333;
}

/* FOOTER */
footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}
